@import '../../../styles/variabels';

.footer {
  background-color: $color-bg-secondary;
  padding: $p-section;
  padding-block: 40px;
  color: $color-bg;

  &__title {
    margin-block-end: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-block-end: 40px;
    border-bottom: 1px solid $color-text-secondary;
    margin-block-end: 24px;

    @media screen and (width >= 768px) {
      flex-direction: row;
    }

    &_item {
      cursor: pointer;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
