@import '../../../styles/variabels';

.container {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  overflow: hidden;

  .wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .button {
    all: unset;
    position: absolute;
    display: block;
    inset-block: 0;
    padding: 6px;
    cursor: pointer;

    & > * {
      stroke: $color-text;
      fill: black;
    }

    &:hover > *,
    &:focus-visible > * {
      animation: squishy $transition-primary;
    }

    &:hover,
    &:focus-visible {
      background-color: rgb(0 0 0 / 20%);
    }
  }
}

@keyframes squishy {
  50% {
    scale: 1.4 0.6;
  }
}
