@import '../../styles/variabels';

.register {
  padding: $p-section;
  display: flex;
  align-items: center;
  justify-content: center;
  max-inline-size: 100%;
  min-block-size: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-block-size: 100%;
    block-size: 100%;

    @media screen and (width >= 768px) {
      flex-direction: row;
      justify-content: space-around;
      padding-inline-start: 0;
    }
  }
}
